.git
.github
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.ipynb_checkpoints
data/
doc/
examples/
tutorials/
dist/
build/
*.egg-info
.venv
venv
ENV
env
.env
Dockerfile
docker-compose.yml
.gemini
